@model HTTP5101_Assignment3_DanielGuinto.Models.Student
@{
    ViewBag.Title = "Show";
}
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

<a class="navlink" href="/Student/List">Back to Students List</a>

<a class="deletelink" href="/Student/ConfirmDelete/@Model.StudentId">Delete</a>

<div class="info-container">
    <h2>@Model.StudentFname @Model.StudentLname</h2>

    <table>
        <tr>
            <td class="table-desc">Student ID</td>
            <td class="table-info">@Model.StudentId</td>
        </tr>
        <tr>
            <td class="table-desc">Student Number</td>
            <td class="table-info">@Model.StudentNumber</td>
        </tr>
        <tr>
            <td class="table-desc">Enrol Date</td>
            <td class="table-info">@Model.EnrolDate.ToString("dd-MMM-yyyy")</td>
        </tr>
    </table>

    <a class="updatelink" href="/Student/Update/@Model.StudentId">Update</a>

</div>
